@model Falco.WebApi.Models.Cita

@{
    ViewBag.Title = "Eliminar";
}

<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-pencil-square-o fa-fw "></i>
                Citas - Eliminar
            </h1>
            <h3>Está seguro que desea eliminar esto?</h3>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 col-sm-6  col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.tipoCita.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tipoCita.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PacientId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PacientId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Fecha)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fecha)
                </dd>

            </dl>

            <div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="no-color">
                        <input type="submit" value="Delete" class="btn btn-default" />
                    </div>
                }
            </div>
            <br />
            <div>
                @Html.ActionLink("Regresar", "Index")
            </div>
        </div>
    </div>
</div>
